<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
       h1   {color: blue;
            text-align:center;
            text-transform: uppercase;
            }
        p    {color: rgb(25, 145, 22);
        text-indent: 4%;
        padding: 3%;}
    </style>
    <title>FootbaBlog</title>
</head>
<body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="index.html">FootbaBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="pl.html">Premier League</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tl.html">Turkish League</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sa.html">Serie A</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="contact.html"> Contact us </a>
            </li>   
          </ul>
        </div>  
      </nav>
  <br>
  <div class="container-md">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Position</th>
            <th>Team Name</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <tr class="" ng-repeat="team in teams.standing">
            <td class="pos">1.</td> 
            <td class="name"><img style = "width: 5%;"src="img/Liverpool_FC.png"> Liverpool</td>
            <td class="points">82</td>
        </tr>
        <tr class="" ng-repeat="team in teams.standing">
            <td class="pos">2.</td> 
            <td class="name"><img style = "width: 5%;"src="img/Man_city_logo.png"> Man. City</td>
            <td class="points">60</td>
        </tr>
        <tr class="" ng-repeat="team in teams.standing">
            <td class="pos">3.</td> 
            <td class="name"><img style = "width: 5%;"src="img/Leicester-City-logo.png"> Leicester City</td>
            <td class="points">54</td>
        </tr>
    <tbody>
</table>
<h1>League Started Again</h1>
        <p>After a long wait, the Premier League started again. Liverpool is on top of the league as we remember. They need to put so little effort to get the trophy that they have been missing for so long. The only thing the supporters may hope that this season, in the future, will not be remembered as "Corona Season". </p>
    </div>
</body>
</html>